{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swag</title>
    <link rel="stylesheet" href="{% static 'cool/CSS/swag.css' %}">
    <link rel="stylesheet" href="{% static 'cool/CSS/common.css' %}">

</head>
<body>
    <div class="wrapper">
        <img src="{% static '/cool/Image/common.jpg'%}" alt="">
    <div class="box">
        <p>Custom Filter</p>
       <p>5 multiplied by 2 is {{ 5|multiply:2 }}</p>
       <p>The word 'hello' in uppercase is {{ 'hello'|to_upper }}</p>
    </div>
    </div>
    <script src="{% static 'cool/JS/common.js' %}"></script>
    <script src="{% static 'cool/JS/swag.js' %}"></script>
</body>
</html>